@import '../../assets/styles/variables';

.button {
  color: $white;
  border-radius: 20px;

  &.MuiButton-outlined {
    color: $primary
  }

  &.MuiButton-text {
    color: $soft-black;
    &:hover {
      background: $grey-bg;
    }
  }
}

.icon-button {
  &.outlined {
    border: 1px solid #e5e5e5;
  }
}
