@import "../../assets/styles/variables";

.button {
  &.MuiButton-containedError {
    background: #ed4c5c!important;
  }
  color: $white !important;
  border-radius: 50px !important;
  font-size: 17px !important;
  font-weight: 800;
  box-shadow: none!important;

  &.MuiButton-outlined {
    color: $primary !important;
  }

  &.MuiButton-text {
    color: $soft-black !important;
    &:hover {
      background: $grey-bg !important;
    }
  }
}

.icon-button {
  &.outlined {
    border: 1px solid #e5e5e5 !important;
  }
}
