.input {
  border: 0;
  background: transparent;
  padding: 0 10px;
  font-size: 35px;
}
.input-deactive {
  .MuiInput-underline {
    &:hover {
      &::before {
        border-bottom: 0px;
      }
    }
    &::before {
      border-bottom: 0px;
    }
    &::after {
      border-bottom: 0px;
    }
  }
}
