.menu {
  .MuiPaper-root {
    border: 1px solid #e5e5e5 !important;
    box-shadow: none;
  }
  ul {
    padding: 0;
    li {
      border-bottom: 1px solid #e5e5e5;
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
.input {
  border: 0;
  background: transparent;
  padding: 0 10px;
  font-size: 35px;
}
.input-deactive {
  .MuiInput-underline {
    &:hover {
      &::before {
        border-bottom: 0px;
      }
    }
    &::before {
      border-bottom: 0px;
    }
    &::after {
      border-bottom: 0px;
    }
  }
}
.toolbar {
  padding: 0 6rem;
  .MuiTypography-h4 {
    font-weight: 800 !important;
  }
}
